<!DOCTYPE html>
<html>
    <head>
        <title>Registration Form</title>
    </head>
    <body>
        <h1>Register</h1>
        <form method="post" action="/register">
            <label for="name">Name:</label>
            <input type="text" name="username"><br><br>
            
            <label for="email">Email:</label>
            <input type="email" name="email"><br><br>
            
            <label for="rollno">rollno:</label>
            <input type="text" name="rollno"><br><br>

            <label for="year">year</label>
            <select name="year">
                <option value="1st year">1st year</option>
                <option value="2nd year">2nd year</option>
                <option value="3rd year">3rd year</option>
                <option value="4th year">4th year</option>
            </select><br><br>
            
            <input type="submit" value="Register">
        </form>
    </body>
</html>
